# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#############
## Idea
#############
target/
.idea/
.idea
/out/
/out.log
/out.log.*
